<configuration>

<!--    파일에 로그를 남깁니다.-->
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/RemoteUpdate/var/log/%d{yyyy/MM/dd}/openapi-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5level] %msg%n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="STDOUT" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <springProfile name="real">
        <!--파일에 로그를 남깁니다.-->
        <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/ec2-user/app/step2/logs/%d{yyyy/MM/dd}/STDOUT-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%-5level] %msg%n
                </Pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <logger name="STDOUT" level="DEBUG">
            <appender-ref ref="STDOUT" />
        </logger>
    </springProfile>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>